<%- include ("header"); -%>
    <div class = "box" id = "heading">
        <h1> <%= pageTitle %> !</h1>
    </div>
    
    <div class = "box">
        <% for (let i = 0; i < newTasks.length; i++) { %>
            <div class = "item">
                <input type="checkbox">
                <p> <%= newTasks[i] %> </p>
            </div>
          <% } %>

          <form action="/" method = "post" class = "item">
            <input type="text" name = "todoItem" id = "new-task" placeholder = "New Item">
            <button type = "submit" name = "list" value = <%= pageTitle %> </button> + </button>
        </form>
    </div>
<%- include ("footer"); -%>

